.swiper {
  padding: 2rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  overflow: hidden;
  filter: blur(3px);
  border: 3px solid #1B2620;

  transition: all ease-in-out .4s;
}

.swiper-slide-active {
  filter: blur(0);

}
.swiper-pagination {
    margin-top: 1rem;
    position: initial;
}
.swiper-pagination-bullet-active {
  background-color: #800000;
}

.swiper-button-prev,
.swiper-button-next {
  color: #006614;
}
